#my_id {
    background: none repeat scroll 0 0 white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
    position: relative;
	margin-bottom: 13px;
	margin-left:175px;
}

.yellow {
	background: none repeat scroll 0 0 #FBFCE5 !important;
	border:1px solid #F2F8B1 !important; 
	color: #4E4F25 !important;
}

.firepad-userlist {
  left: 0; top: 0; bottom: 0; height: auto;
  width: 175px;
  float:left;
}
